@model Pizzeria.Models.Articolo

@{
    ViewData["Title"] = "Delete";
}



<div>
    <h4>Articolo</h4>
    <hr />
    <div class="row-cols-sm-2">
    
    <div class="card" >
        <img src="@Model.Immagine" class="card-img-top"  alt="@Model.Nome">
        <div class="card-body">
                <h4 class="card-title fw-bold lead"> @Model.Nome</h4>
                <p class="card-text fw-bold">Ingredienti: <span class="fw-lighter lead">@Model.Ingredienti</span></p>
                <p class="card-text fw-bold">Prezzo: <span class="fw-lighter lead">@Model.Prezzo &euro;</span></p>
            <p class="card-text fw-bold">Tempo di Consegna: <span class="fw-lighter lead">@Model.TempoConsegna minuti</span></p>

                <form asp-action="Delete" class="d-flex justify-content-around">
                    <input type="hidden" asp-for="IdArticolo" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> 
                    <a type="button" asp-action="Index" class="btn btn-secondary ">Torna Indietro</a>
                </form>
        </div>
    </div>

  
    
   
</div>
