@model Pizzeria.Models.Articolo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

    <div id="Messaggio" class="my-3"> </div>

 <div class="row-cols-sm-2">
    <div class="card" >
        <img src="@Model.Immagine" class="card-img-top"  alt="@Model.Nome">
        <div class="card-body">
                <h4 class="card-title fw-bold lead" id="Nome"> @Model.Nome</h4>
                <p class="card-text fw-bold">Ingredienti: <span class="fw-lighter lead">@Model.Ingredienti</span></p>
                <p class="card-text fw-bold">Prezzo: <span class="fw-lighter lead">@Model.Prezzo &euro;</span></p>
            <p class="card-text fw-bold">Tempo di Consegna: <span class="fw-lighter lead">@Model.TempoConsegna minuti</span></p>

                <button id="@Model?.IdArticolo"  class="btn btn-success btn-add mb-2">Aggiungi</button>
                <form asp-action="Delete" class="d-flex justify-content-around">
                    <input type="hidden" asp-for="IdArticolo" />
                    @{
                        if(User.IsInRole("Admin"))
                        {
                                    <input type="submit" value="Delete" class="btn btn-danger" /> 
                            <a asp-action="Edit" asp-route-id="@Model?.IdArticolo" class="btn btn-primary">Edit</a>
                        }

                }

                    <a type="button" asp-action="Index" class="btn btn-secondary ">Torna Indietro</a>
                </form>
        </div>
    </div> 
   
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".btn-add").click(function () {
            var productId = $(this).attr("id");
            var nome = $("#Nome").text();
            inviaCarrelloAlServer(productId);
            $("#Messaggio").html(`<span class="alert alert-success " role="alert">Hai aggiunto ${nome} al carrello</span>`);
            setTimeout(function () {
                $("#Messaggio").html("");
            }, 2000);
        });

        function inviaCarrelloAlServer(id) {
            // Ottieni i dati del carrello dal modulo Carrello
            $.ajax({
                url: `/Articolo/AggiungiAlCarrello/${id}`, // URL dell'azione del controller
                type: 'GET', // Metodo HTTP da utilizzare
                contentType: 'application/json', // Tipo di dati
                success: function (response) {
                    console.log('Dati del carrello inviati con successo al server');
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error("Errore durante l'invio dei dati del carrello al server: ", errorThrown);
                }
            });
        }

    });
</script>