@model IEnumerable<Pizzeria.Models.Articolo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
        @{
            int index = 0;
            foreach (var item in Model)
            {
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="@index" class="@((index == 0) ? "active" : "")" aria-current="@((index == 0) ? "true" : "false")" aria-label="Slide @(index + 1)"></button>
                index++;
            }
        }
    </div>
    <div class="carousel-inner">
        @{
            index = 0;
            foreach (var item in Model)
            {
                <div class="carousel-item @(index == 0 ? "active" : "") ">
                    <img src="@item.Immagine" alt="@item.Nome" class="object-fit-cover">
                    <div class="carousel-caption d-none d-md-block">
                        <div style="backdrop-filter:contrast(0.5)">
                            <h5 class="text-black">@item.Nome</h5>
                            <p class="text-black">@item.Ingredienti</p>
                            <span class="top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                @item.Prezzo €
                            </span>
                            <a type="button" id="@item.IdArticolo" aspvalue="@item.Nome" class="btn btn-danger btn-add "> Aggiungi</a> 
                            </div>
                    </div>
                </div>
                index++;
            }
        }
    </div>
    <button class="carousel-control-prev btn btn-outline-dark" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next btn-outline-dark" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div id="Messaggio" class="mt-5 position-absolute"> </div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".btn-add").click(function () {
            var productId = $(this).attr("id");
            var nome = $(this).attr("aspvalue");
            inviaCarrelloAlServer(productId);
            $("#Messaggio").html(`<span class="alert alert-success " role="alert">Hai aggiunto ${nome} al carrello</span>`);
            setTimeout(function () {
                $("#Messaggio").html("");
            }, 2000);
        });

            function inviaCarrelloAlServer(id) {
              // Ottieni i dati del carrello dal modulo Carrello
                $.ajax({
                    url: `/Articolo/AggiungiAlCarrello/${id}`, // URL dell'azione del controller
                    type: 'GET', // Metodo HTTP da utilizzare
                    contentType: 'application/json', // Tipo di dati
                    success: function (response) {
                        console.log('Dati del carrello inviati con successo al server');
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.error("Errore durante l'invio dei dati del carrello al server: ", errorThrown);
                        }
                });
            }

        });
    </script>
    