@model IEnumerable<Pizzeria.Models.Ordine>

@{
    ViewData["Title"] = "OrdiniDaEvadere";
}

<h1>Ordini Da Confermare</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrezzoTotale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Indirizzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataOrdine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsConsegnato)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PrezzoTotale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Indirizzo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataOrdine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Utente.Username)
                </td>
                <td>
                    <input class="form-check-input" id="@item.IdOrdine" type="checkbox" value="@item.IsConsegnato" />
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("input").change(function () {
            var id = $(this).attr('id');
            $.ajax({
                url: '/Ordine/Consegnato?id=' + id,
                type: 'POST',
                success: function (response) {
                    // Aggiorna la visualizzazione o fornisci feedback all'utente
                    console.log('Ordine evaso con successo');
                    location.reload();
                },
                error: function (xhr, textStatus, errorThrown) {
                    // Gestisci eventuali errori qui
                    console.error("Errore durante la conferma dell'ordine:", errorThrown);
                }
            });
        })
    })
</script>
