@model IEnumerable<Pizzeria.Models.Ordine>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Indirizzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsConsegnato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Indirizzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsConsegnato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utente.Username)
            </td>
            <td>
                   <a type="button" class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.IdOrdine"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a type="button" class="btn btn-outline-success" asp-action="Details" asp-route-id="@item.IdOrdine">
                        <i class="fa-solid fa-info"></i></a>
                    <a type="button" class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.IdOrdine"><i class="fa-solid fa-trash-can"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
